<p>
  benilda works!
</p>
<form method="" action="">

 

  <fieldset>

      <legend>Tus datos de contacto</legend> <!-- Título del conjunto de campos --> 


      <label for="apellidos">¿Cuáles son tus apellidos?</label><br>

      <input type="text" name="apellido" id="apellido" /><br>


      <label for="nombre">¿Cuál es tu nombre?</label><br>

      <input type="text" name="nombre" id="nombre" /><br>



      <label for="email">¿Cuál es tu dirección de correo electrónico?</label><br>

      <input type="email" name="email" id="email" /><br>


  </fieldset>



  <fieldset>

      <legend>Tu deseo</legend> <!-- Título del conjunto de campos -->



      <p>

          Pide un deseo que quieres que se haga realidad:<br>


          <input type="radio" name="deseo" value="rico" id="rico" /> <label for="rico">Ser rico</label><br>

          <input type="radio" name="deseo" value="famoso" id="famoso" /> <label for="famoso">Ser famoso</label><br>

          <input type="radio" name="deseo" value="inteligente" id="inteligente" /> <label for="inteligente">Ser <strong>aún más</strong> inteligente</label><br>

          <input type="radio" name="deseo" value="otro" id="otro" /> <label for="otro">Otro...</label><br>

      </p>



      <p>

          <label for="specs">Si has elegido «Otro», especifica cuál:</label><br>

          <textarea name="specs" id="specs" cols="40" rows="4"></textarea>

      </p>

  </fieldset>

  <input type="submit" value="Enviar" >
</form>