.confirmar, .cancelar {
    font-weight: bold;
}

.confirmar {
    color: green;
}

.cancelar {
    color: red;
}

:host {
    display: flex;
}

.contenedor-flex-row {
    display: flex;
    flex-direction: row;
}
