<section>
    <header>
        <h1>Que Haceres</h1>
        <input [(ngModel)]="titulo" placeholder="¿Que se necesita hacer hoy?" autofocus=""
               (keyup.enter)="agregarQueHacer()">
    </header>
    <section>
        <ul>
            <li *ngFor="let queHacer of queHaceres">
                <div>
                    <input type="checkbox" [(ngModel)]="queHacer.completado">
                    {{ queHacer.titulo }}
                </div>
            </li>
        </ul>
    </section>
    <footer>
        Tenemos {{ queHaceres.length }} cosas por hacer en total y {{ contarHechas() }} están completadas.
    </footer>
</section>
