<section>
    <header>
        <h1>{{ grupo.nombre }}</h1>
        <input [(ngModel)]="nuevoQueHacer.tarea" placeholder="¿que hay para hacer hoy?"
               (keyup.enter)="agregarQueHacer()" autofocus="">
    </header>
    <section>
        <ul>
            <li *ngFor="let quehacer of grupo.quehacer_set">
                <app-que-hacer [quehacer]="quehacer" (onEliminar)="actualizarGrupo()"></app-que-hacer>
            </li>
        </ul>
    </section>
    <footer>
        Tenemos {{ grupo.quehacer_set.length }} cosas por hacer en total y {{ contarHechas() }} están completadas.
    </footer>
</section>
